@keyframes appear-vertically {
  from {
    opacity: 0%;
    transform: scale(1, 0);
  }

  to {
    opacity: 100%;
    transform: scale(1, 1);
  }
}

.appear-vertically {
  animation-name: appear-vertically;
  animation-duration: 0.7s;
}
