.appear-and-disappear-vertically-list-enter-active,
.appear-and-disappear-vertically-list-leave-active,
.appear-and-disappear-vertically-list-move {
  transition: all 0.4s ease-out;
}

.appear-vertically-list-enter-active {
  transition: all 0.7s ease-out;
}

.appear-and-disappear-vertically-list-leave-active {
  position: absolute;
}

.appear-vertically-list-enter-from,
.appear-and-disappear-vertically-list-enter-from,
.appear-and-disappear-vertically-list-leave-to {
  opacity: 0;
  transform: scaleY(0.01);
}

.appear-vertically-list-enter-to,
.appear-and-disappear-vertically-list-enter-to,
.appear-and-disappear-vertically-list-leave-from {
  opacity: 1;
  transform: scaleY(1);
}

.appear-vertically-list-leave-active {
  display: none;
}
