# ENV secrets
.env.*.local

# Gems
/.bundle

# Logs
/log/*
!/log/.keep

# Temp
/tmp/*
!/tmp/.keep

# JavaScript packages
/node_modules

# Console/debugger history
.byebug_history
.irb_history

# Docker
docker-compose.override.yml

# Generated JavaScript path helpers
/app/javascript/rails_assets

# Tests
coverage/
.tests.yml
spec/fixtures/*.yml

# Database dumps
*.dump*
export

# Assets
# NOTE: public/assets/ is generated when running assets:precompile
/public/assets/
/public/vite/
/public/vite-admin/

# Blog
# NOTE: blog/ is populated via the GitHub Actions deployment of davidrunger/blog.
/blog/

# Credentials
/config/credentials/development.key
/config/credentials/test.key
/config/credentials/production.key

# Skedjewel
/bin/skedjewel

# SSL
/ssl-data/
