# ENV secrets
.env
.env.*.local

# Gems
/.bundle/

# Logs
/log/

# Temp
/tmp/

# JavaScript packages
/node_modules/

# Generated JavaScript path helpers
/app/javascript/rails_assets/

# Tests
/coverage/
/lib/test/.tests.yml
/spec/fixtures/*.yml

# Assets
# NOTE: public/assets/ is generated when running assets:precompile
/public/assets/
/public/vite/
/public/vite-admin/

# Blog
# NOTE: blog/ is populated via the GitHub Actions deployment of davidrunger/blog.
/blog/

# Skedjewel
/bin/skedjewel

# SSL
/ssl-data/

# NGINX
/config/nginx/conf.d/require-valid-host.conf
