{
  "extends": ["stylelint-config-standard"],
  "overrides": [
    {
      "files": ["**/*.vue"],
      "customSyntax": "postcss-html"
    }
  ],
  "rules": {
    "at-rule-no-deprecated": [
      true,
      {
        "ignoreAtRules": ["apply"]
      }
    ],
    "at-rule-no-unknown": null,
    "color-function-notation": null,
    "declaration-property-value-no-unknown": null,
    "keyframes-name-pattern": null,
    "media-query-no-invalid": null,
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": null
  }
}
