{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-standard-scss"
  ],
  "overrides": [
    {
      "files": [
        "**/*.vue"
      ],
      "customSyntax": "postcss-html"
    }
  ],
  "plugins": ["stylelint-scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "color-function-notation": null,
    "keyframes-name-pattern": null,
    "no-descending-specificity": null,
    "scss/at-rule-no-unknown": true,
    "scss/comment-no-empty": null,
    "scss/double-slash-comment-empty-line-before": null,
    "selector-class-pattern": null,
    "selector-pseudo-class-no-unknown": null
  }
}
