#header {
  line-height: 56px;

  #header-name {
    opacity: 0;
  }

  #nav a {
    color: #cccccc;

    &:hover {
      color: white;
    }
  }

  &.fixed-top {
    position: fixed;
    height: 56px;
    top: 0;

    #header-name {
      opacity: 1;
      animation: delayed-fade-in $transition-medium;
    }

    #nav {
      width: 500px;
      right: 0;
      transform: translateX(0);
    }
  }
}

#nav {
  width: 700px;
  max-width: 100%;
  transition: all $transition-medium;
  justify-content: space-around;
  right: 50%;
  transform: translateX(50%);

  @media screen and (max-width:600px) {
    display: none;
  }
}

#main {
  max-width: 850px;
  margin: 0 auto;
}

.nav-link.active span {
  border-bottom: 4px solid gray;
}

.about-image {
  max-width: 100%;
  height: auto;
}

section {
  padding: 30px 0;

  h2 {
    padding-bottom: 30px;
  }

  p {
    padding-bottom: 25px;
  }
}
