- content_for(:page_assets) do
  = js_tag('charts')

- if request.referrer.present?
  = link_to 'Go back', :back

%h1.center= @emotional_need.name

= line_chart(@rating_data,
  library: { scales: { y: { max: 3, min: -3, ticks: { maxTicksLimit: 7, stepSize: 1 } } } })
