- content_for(:extra_css) do
  = stylesheet_link_tag 'grocery_list', media: 'all'

- if user_signed_in?
  - content_for(:extra_javascript) do
    = javascript_pack_tag('grocery_list_app')
- else
  = link_to('Sign in with Google', user_google_oauth2_omniauth_authorize_path)
