- if user_signed_in?
  = javascript_pack_tag('grocery_list_app')
  %div
    %strong Hi, #{current_user.email}! :)
    = link_to('Sign Out', destroy_user_session_path, method: :delete)
- else
  = link_to('Sign in with Google', user_google_oauth2_omniauth_authorize_path)
