= question.content
- question.answers.includes(:answering_participations).decorate.each_with_index do |answer, index|
  .pl-2
    %span{class: answer.is_correct? ? 'font-bold' : ''} #{(index + 65).chr}. #{answer.content}
    - if answer.answering_participations.present?
      %span{class: answer.is_correct? ? 'text-lime-600' : 'text-red-600'} (#{answer.respondents_list})

- if !@quiz.closed?
  %h3 Leaderboard
  .mb-4{data: { async_partial_src: leaderboard_quiz_path(@quiz), delay: async_partial_delay_for_rails_env(750) }}
    .spinner--circle

  - if !@quiz.owned_by_current_user?
    %h3 Progress
    %div{data: { async_partial_src: progress_quiz_path(@quiz), delay: async_partial_delay_for_rails_env(1000) }}
      .spinner--circle
