= question.content
- question.answers.includes(:answering_participations).decorate.each_with_index do |answer, index|
  .pl1
    %span{class: answer.is_correct? ? 'bold' : ''} #{(index + 65).chr}. #{answer.content}
    - if answer.answering_participations.present?
      %span{class: answer.is_correct? ? 'green' : 'red'} (#{answer.respondents_list})

- if !@quiz.closed?
  %h3 Leaderboard
  .mb2{data: { async_partial_src: leaderboard_quiz_path(@quiz), delay: 750 }}
    .spinner--circle

  - if !@quiz.owned_by_current_user?
    %h3 Progress
    %div{data: { async_partial_src: progress_quiz_path(@quiz), delay: 1000 }}
      .spinner--circle
