%ol
  - quiz.ordered_questions.includes(:answer_selections).decorate.each do |question|
    %li{
      title: question.revealed? ? question.content : '[question hidden for now]'
    }= question.answer_correctness_mark
