- content_for(:page_assets) do
  = ts_tag('google_sign_in_button')

.text-center.bg-white.w-85.mt-20.mx-auto.py-12.rounded-md
  %google-sign-in-button{action: "/auth/google_oauth2?redirect_uri=#{url_base}/#{callback_type}/auth/google_oauth2/callback"}
  .mt-1 or go to the #{link_to('home page', root_path)}.
