- content_for(:extra_css) do
  -# Always load `devicons` (in a nonblocking way (https://web.dev/defer-non-critical-css/)).
  -# This modification complies with our CSP: https://stackoverflow.com/a/56400044/4009384
  - devicon_href = 'https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css'
  = javascript_tag(nonce: true) do
    link = document.createElement('link');
    link.rel = 'preload'
    link.href = '#{devicon_href}'
    link.as = 'style'
    link.onload = () => {
    link.onload = null;
    link.rel = 'stylesheet';
    link.setAttribute('data-lazyloader-state', 'spent');
    };
    document.head.appendChild(link);
  %noscript
    %link{rel: "stylesheet", href: devicon_href}

- content_for(:page_assets) do
  = js_tag('home_app')
