.flex.flex-column.relative.vh-100.align-items-center.justify-content-center.background-black.font-white
  #headline-container.text-center
    #headline-name.font-size-1.font-blue-medium.pb-5.mb-4.border-b.border-gray.pb-2
      %span.light David
      %b Runger
    #headline-subtitle.font-size-3.light.mb-6
      Full stack
      %span.font-light-purple.nowrap Ruby on Rails
      web developer
  %header#header.flex.background-black.width-100.relative
    #header-name.font-size-4.font-blue-medium.pl-5.js-link.js-scroll-top
      %span.light David
      %b Runger
    %nav#nav.flex.justify-content-space-around.absolute
      %a.js-link About
      %a.js-link Skills
      %a.js-link Projects
      %a.js-link Resume
      %a.js-link Contact

.vh-100.align-items-center.justify-content-center
  %p More content down here
  %p More content down here
  %p More content down here
  %p More content down here
  %p More content down here
  %p More content down here
  %p More content down here
  %p More content down here
  %p More content down here
  %p More content down here
  %p More content down here
.vh-100.align-items-center.justify-content-center
  %p Annnnnnnd more content down here
  %p Annnnnnnd more content down here
  %p Annnnnnnd more content down here
  %p Annnnnnnd more content down here
  %p Annnnnnnd more content down here
  %p Annnnnnnd more content down here
  %p Annnnnnnd more content down here
  %p Annnnnnnd more content down here
  %p Annnnnnnd more content down here
  %p Annnnnnnd more content down here
  %p Annnnnnnd more content down here
  %p Annnnnnnd more content down here
  %p Annnnnnnd more content down here

= javascript_pack_tag 'new_home'
