%p The item you have been waiting for is available.

%div
  %strong Available in store:
  = @available_for_cash_carry

%div
  %strong Available for pickup:
  = @available_for_click_collect

%div
  %strong Quantity:
  = @quantity
