:concurrency: 3
development:
  :concurrency: 1

:queues:
  - ['default', 3]
  - ['rollbar', 3]
  - ['action_mailbox_incineration', 1]
  - ['action_mailbox_routing', 1]
  - ['active_storage_purge', 1]
  - ['mailers', 1]
