:concurrency: 1

:queues:
  - ['default', 3]
  - ['rollbar', 3]
  - ['action_mailbox_incineration', 1]
  - ['action_mailbox_routing', 1]
  - ['active_storage_purge', 1]
  - ['mailers', 1]

:schedule:
  InvalidRecordsCheck::Launcher:
    cron: '23 8 * * *' # daily at 8:23am PT
  <% if %w[production test].include?(ENV['RAILS_ENV']) %>
  DataMonitors::Launcher:
    cron: '4-59/5 * * * *' # every 5 minutes (offset by 4 minutes)
  RunHeat:
    cron: '42 * * * *' # hourly at 42 minutes past the hour
  SendLogReminderEmails:
    cron: '* * * * *' # every minute
  TruncateTables:
    cron: '33 * * * *' # hourly at 33 minutes after
  <% end %>
