/*
    right
*/
@for $i from 0 through 6 {
  .m-r-#{$i} {
    margin-right: 10px * $i;
  }
}

/*
    left
*/
@for $i from 0 through 6 {
  .m-l-#{$i} {
    margin-left: 10px * $i;
  }
}

/*
    bottom
*/
@for $i from 0 through 6 {
  .m-b-#{$i} {
    margin-bottom: 10px * $i;
  }
}
