/*
    all around
*/
@for $i from 0 through 6 {
  .p-#{$i} {
    padding: 10px * $i;
  }
}

/*
    left
*/
@for $i from 0 through 6 {
  .p-l-#{$i} {
    padding-left: 10px * $i;
  }
}

/*
    right & left
*/
@for $i from 0 through 6 {
  .p-rl-#{$i} {
    padding-right: 10px * $i;
    padding-left: 10px * $i;
  }
}
