i {
  font-style: italic;
}

////////////////////////////
// styles
.monospace {
  font-family: monospace;
}

.sans-serif {
  font-family: sans-serif;
}

////////////////////////////
// weights
.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

////////////////////////////
// sizes

// new
@for $i from 1 through 6 {
  .font-size-#{$i} {
    font-size: 10px * $i;
  }
}

// deprecated
.font-size-1 {
  font-size: 80px;

  @media screen and (max-width: 600px) {
    font-size: 40px;
  }
}

.font-size-2 {
  font-size: 60px;
}

.font-size-3 {
  font-size: 40px;
}

.font-size-4 {
  font-size: 20px;
}

////////////////////////////
// colors
.font-white-dark {
  color: $white-dark;
}

.font-blue-light {
  color: $blue-light;
}

.font-purple {
  color: $purple;
}

.inherit-color {
  color: inherit;
}
