////////////////////////////
// styles
.monospace {
  font-family: monospace;
}

////////////////////////////
// weights
.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

////////////////////////////
// sizes
.font-size-1 {
  font-size: 80px;

  @media screen and (max-width:600px) {
    font-size: 40px;
  }
}

.font-size-2 {
  font-size: 60px;
}

.font-size-3 {
  font-size: 40px;
}

.font-size-4 {
  font-size: 20px;
}

////////////////////////////
// colors
.font-white-dark {
  color: $white-dark;
}

.font-blue-medium {
  color: $blue-medium;
}

.font-purple {
  color: $purple;
}

.inherit-color {
  color: inherit;
}
