= form_with(model: current_user, url: my_account_path) do |form|
  .my-3
    = form.label :public_name, 'Public display name (optional)'
    = form.text_field :public_name, class: 'input', autofocus: true
  .my-3
    = form.submit('Submit', class: 'btn-primary')
