%parallax-pseudo {
  content: "";
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.parallax-outer {
  position: relative;
  height: 300px;
}

.parallax-inner {
  position: absolute;
  clip: rect(auto, auto, auto, auto);
  width: 100%;
  height: 100%;

  // lighten the image with a semi-transparent white mask
  &::after {
    content: "";
    background: rgba(255, 255, 255, 30%);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.parallax-inner--macbook-1 {
  &::before {
    @extend %parallax-pseudo;

    background-image: url("../images/macbook-1.jpg");
  }
}

.parallax-inner--macbook-2 {
  &::before {
    @extend %parallax-pseudo;

    background-image: url("../images/macbook-2.jpg");
  }
}

html.webp {
  .parallax-inner--macbook-1 {
    &::before {
      background-image: url("../images/macbook-1.webp");
    }
  }

  .parallax-inner--macbook-2 {
    &::before {
      background-image: url("../images/macbook-2.webp");
    }
  }
}
