- content_for(:page_assets) do
  = ts_tag('charts')

%h1= @title

%h2 Run times
= line_chart(@ci_step_results_presenter.run_times_by_step, height: '640px', curve: false)

%h2 Parallelism
= line_chart(@ci_step_results_presenter.parallelism, curve: false, legend: false)
