@import 'tailwindcss' source(none);

/* NOTE: This is needed because ActiveAdmin uses ring-opacity-5, which doesn't exist in Tailwind. */
@utility ring-opacity-5 {
  --tw-ring-opacity: 0.05;
}

@config '../../../tailwind-active_admin.config.js';

/* Tom Select */
.ts-control > input {
  flex: 0 1 auto;
  width: 1px;
}
