@use 'sass:meta';
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-disable no-invalid-position-at-import-rule */
@include meta.load-css('tailwind_overrides');
@include meta.load-css('rails_overrides');
@include meta.load-css('element_plus_overrides');
@include meta.load-css('variables');
@include meta.load-css('animations/appear_vertically');
@include meta.load-css('components/spinner');
@include meta.load-css('components/toastify');
@include meta.load-css('elements/input');
@include meta.load-css('flash');
@include meta.load-css('utils/flex');
@include meta.load-css('utils/font_family');
@include meta.load-css('utils/font_size');
@include meta.load-css('utils/font_weight');
@include meta.load-css('utils/opacity');
@include meta.load-css('ui_framework/button');
/* stylelint-enable no-invalid-position-at-import-rule */

html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.js-link {
  cursor: pointer;
}

// apparently the default textarea font on Firefox is monospace
textarea {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.hidden-scrollbars {
  scrollbar-width: none; /* Firefox https://stackoverflow.com/a/38994837/4009384 */
}

.hidden-scrollbars::-webkit-scrollbar {
  display: none; /* Safari and Chrome https://stackoverflow.com/a/38994837/4009384 */
}
