@import "variables";
@import "animations/appear_vertically";
@import "components/spinner";
@import "components/parallax";
@import "elements/input";
@import "flash";
@import "utils/color";
@import "utils/flex";
@import "utils/font_family";
@import "utils/font_size";
@import "utils/font_weight";
@import "utils/height";
@import "utils/opacity";
@import "utils/white_space";

html,
body {
  height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.js-link {
  cursor: pointer;
}

// apparently the default textarea font on Firefox is monospace
textarea {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
