html {
  line-height: 1.15;
}

hr {
  margin: auto;
}

// NOTE: We want this selector to be as unspecific as possible, to make it easier to override.
[href] {
  @apply text-blue-600 visited:text-purple-600
}

// NOTE: We nest the selectors within `body` to give them additional specificity.
body {
  h2 {
    @apply text-2xl font-bold;
  }

  img,
  svg {
    display:inline;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
