////////////////////////////
// colors
$black-light: #272727;
$blue-light: #a5cbf3;
$gray-light: #b8b8b8;
$gray-dark: #999999;
$purple: #b03dd2;
$white-dark: #cccccc;

////////////////////////////
// transition times
$transition-medium: 1s;
