name: Test (& Deploy)

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      # https://stackoverflow.com/q/57915791/4009384
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432 # Maps port 5432 on service container to the host
      redis:
        image: redis
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379 # Maps port 6379 on service container to the host
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 100 # this might cause issues if there are more than 100 commits in a PR (?)
    - name: Set up Ruby 3.0.1
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0.1
        bundler-cache: true
      env:
        BUNDLE_GITHUB__COM: "${{secrets.BUNDLE_GITHUB__COM}}"
    - uses: actions/setup-node@v1
      with:
        node-version: 14.15.0
    - name: Cache node_modules
      uses: actions/cache@v1
      with:
        path: node_modules
        key: ${{ runner.os }}-node_modules-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-node_modules-
    - name: Run tests & linters
      run: bin/pallets --verbose -r ./bin/run-tests.rb
      env:
        CI: true
        RAILS_ENV: test
        NODE_ENV: test
        DISABLE_SPRING: 1
        SECRET_KEY_BASE: 0af8c0e49e9259f2d777cfcd121d8540cee914c34b0abf08dd825bdee47c402daf9f2b9b74a9fff6f88ed95257ae39504e0d59c66400413b0cf7d29079c6358b
        HASHID_SALT: cdfb96ea-418c-4afd-b607-4960b35d5918
        # The hostname used to communicate with the PostgreSQL service container
        POSTGRES_HOST: 127.0.0.1
        POSTGRES_USER: postgres
        PGPASSWORD: postgres # https://www.postgresql.org/docs/current/libpq-envars.html
        POSTGRES_PORT: ${{ job.services.postgres.ports[5432] }}
        # The hostname used to communicate with the Redis service container
        REDIS_HOST: redis
        REDIS_PORT: 6379
        BUNDLE_GITHUB__COM: "${{secrets.BUNDLE_GITHUB__COM}}"
        PERCY_TOKEN: "${{secrets.PERCY_TOKEN}}"
        CODECOV_TOKEN: "${{secrets.CODECOV_TOKEN}}"
    - name: Save fixtures artifact
      uses: actions/upload-artifact@v2
      if: failure()
      with:
        name: fixtures
        path: spec/fixtures/
        retention-days: 5

  deploy-and-prerender:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Deploy To Heroku
        uses: akhileshns/heroku-deploy@v3.6.8
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: davidrunger
          heroku_email: davidjrunger@gmail.com
      - run: sleep 60 # give some time for the new release to boot up
      - name: Set up Ruby 3.0.1
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.0.1
          bundler-cache: true
        env:
          BUNDLE_GITHUB__COM: "${{secrets.BUNDLE_GITHUB__COM}}"
      - name: Prerender page(s) and upload them to S3
        run: bin/prerender
        env:
          CI: true
          AWS_ACCESS_KEY_ID: "${{secrets.AWS_ACCESS_KEY_ID}}"
          AWS_SECRET_ACCESS_KEY: "${{secrets.AWS_SECRET_ACCESS_KEY}}"
          S3_REGION: us-east-1
          S3_BUCKET: david-runger-uploads
